

.menu-anchor.menu-bordered.menu
  %ul
    %li= link_to 'Manage Tasks', :controller => :manager, :action => :dashboard
    %li= link_to 'New Task', :controller => :projects, :action => :new
    %li= link_to 'Account Settings', '/'