

.menu-anchor.menu-bordered.menu
  %ul
    %li= link_to 'Available Tasks', :controller => :builder, :action => :dashboard
    %li= link_to 'My Tasks', :controller => :builder, :action => :dashboard
    %li= link_to 'Account Settings', '/'