

%h2 Dashboard of Builder

%h3 Available Tasks

- @available_projects.each do |actor|
  - actor.projects.each do |project|
    = render 'projects/index_item', :project => project, :delta => 'take'

%h3 My Tasks
- @my_projects.each do |actor|
  - actor.projects.each do |project|
    = render 'projects/index_item', :project => project, :delta => 'build'

= render 'menu_anchor'