

%h2 Dashboard of Builder


%ul
  %li= link_to 'Promote Myself', :action => :promote

%h3 My projects
- if @my_projects.blank?
  No Projects
- else
  - @my_projects.each do |p|
    url: 
    = p.url
    keywords:
    = p.keywords
    Quantity:
    = p.quantity
    %br