

%h2 Promote Myself

%p Use this tool to put your candidacy to the beginning of the list of available candidacies for potential hiring managers.

%p While not guaranteeing work, managers typically select either someone they are already familiar with, or someone with great references / feedback, or someone at the top of the list.

%ul
  %li= link_to 'Promote!', :action => :process_promote