

%h2 Opcoes

%p Opcoes Is a service that lets you purchase reliably, and verify, backlinks.

%ul
  %li= link_to 'Tour', :action => 'tour'
  %li= link_to 'Login', :action => 'login'
  %li
    Register...
    %ul
      %li= link_to '...as a Site Manager', :action => 'register_site_manager'
      %li= link_to '...as a Link Builder', :action => 'register_link_builder'