
.pages_home

  .height-200
    &nbsp;

  .span-6
    &nbsp;
  .span-6
    Square picture
  .span-6
    %h3 Opcoes is the service for building and maintaining reliable backlinks.
  .span-6.last
    &nbsp;
  .clear

  .horizontal-space1
    %ul.center.tour
      %li 1,000 providers
      %li 20 projects running
      %li 40,000 links maintained


  .height-100
    &nbsp;

  %ul.center.tour
    %li= link_to 'How it works', '/'
    %li= link_to 'Pricing', '/'
    %li= link_to 'Register', '/'
  .clear

  .presentation-slide
    %h2 How it works
    %ul
      %ol As the manager, first set up your account
      %ol Start a task: URL, anchor words, number of links [commit to buy]
      %ol Our providers fulfill the task. You can monitor the progress on the dashboard
      %ol Inevitably, some of the links go down. Our system detects that and sends the task back to providers. Therefore the needed number of links is maintained.
      %ol Register now!

  .presentation-slide
    %h2 Pricing
    %p We offer backlinks at $0.5 per month. That means that for e.g. $10/mo you will have 20 backlinks that are guarantee to be up.

  %ul.center.tour
    
    %li= link_to 'Register', '/'
  .clear

  .height-300