

%h2 Quick Tour

%ul
  %li= link_to 'Back home', :action => 'home'
  %li= link_to 'Login', :action => 'login'

%p The common problem with existing approaches to link building is lack of reliability. Although the hourly wages out outsourced data entry persons may be low, the quality of their work is low also. Now with Yahoo! site explorer being no longer available, verifying backlinks pointing to a site is getting increasingly difficult. A quality service, on the other hand, is almost necessarily not cheap.

%p Although the nature of the internet is changing (few websites like facebook, github, yelp and twitter command more power than all the blogs combined), the fundamental importance of building backlinks remains. Someone promoting their site has to engage in link building. And we offer a service just for the task!

%p Our solution? Instead of relying on Google, Yahoo, etc. to tell us what backlinks to your site exist, we maintain our own list - and periodically check it to ensure accuracy. This means that if a link goes down, the number of active links in our database decreases by one. This way you have a reliable source of information as to how many backlinks to your site there are.

%p Backlinks are grouped by target url. Backlinks have anchor words (keywords) that our tool also helps you to verify.

%p Our system draws in part on the ideas of test-driven development. We do not just build backlinks - we test their existence continuously into the future.


%p Let's get started!

%ul
  %li= link_to 'As a link builder', :controller => :builder, :action => 'register'
  %li= link_to 'As a site manager', :controller => :manager, :action => 'register'

