

.projects_new
  .height-4
  
  %h3.center New Task

  .span-8
    %p Plug in the URL where you want the links to be build, the anchor keywords, and the number of links to be build, and we will do the rest!
  .span-16.last &nbsp;
  .clear

  = render 'form'
  .height-200

= render 'manager/menu_anchor'