

%h3
  Showing project 
  = @project[:url]

%h4 Links
%ul
  - if @project.links.blank?
    %li No links
  - else
    - @project.links.each do |link|
      %li
        = link.url
        &nbsp; &nbsp;
        - if link.is_active
          %span.verified Verified
        - else
          %span.not_verified Not Verified