

.hide 
  display: none
.clear
  clear: both
.center
  text-align: center
.relative
  position: relative
.absolute
  position: absolute


.box 
  padding: 5px
  margin: 5px
  border: 1px solid black

.field 
  margin-top: 5px


.verified 
  color: green

.not_verified 
  color: red

.bg-yellow
  background: #f0c890
