

$background_1: #fad6a3

.hide 
  display: none
.clear
  clear: both
.center
  text-align: center
.align-right
  text-align: right
.align-left
  text-align: left
.relative
  position: relative
.absolute
  position: absolute

.horizontal-space
  background: $background_1
  padding: 1em

.box 
  padding: 5px
  margin: 5px
  border: 1px solid black

.field 
  margin-top: 5px


.verified 
  color: green

.not_verified 
  color: red

.bg-yellow
  background: #f0c890

.height-4
  height: 4em
.height-5
  height: 5em
.height-20
  height: 20px
.height-50
  height: 50px
.height-100
  height: 100px
.height-200
  height: 200px
.height-300
  height: 300px
.height-400
  height: 400px

.square-picture
  width: 200px
  height: 200px
  background: $background_1

.float-left
  float: left
.float-right
  float: right
.margin-right
  margin-right: 10px

.height-100-center
  text-align: center
  height: 100px
  line-height: 100px

.height-80-center
  text-align: center
  height: 80px
  line-height: 80px

.height-20-center
  text-align: center
  height: 20px
  line-height: 20px

.line-height-10
  line-height: 10px